*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
}
.navbar{
    width: 100%;
    padding: 30px 90px 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(221, 221, 221);
    position: fixed;
    z-index: 2;
    background-color: white;
}
.logo{
    font-weight: 700;
}
.logo span{
    color: red;
}
.menu{
    font-weight: lighter;
}
.floater{
    position: absolute;
    background-color: aqua;
}
.box1{
    width: 50%;
}
.box2{
    width: 50%;
    padding: 40px;
    display: flex;
    align-items: last baseline;
}
.hero{
    width: 100%;
    top: 102px;
    position: relative;
    z-index: 1;
    display: flex;
}
.box1 img{
    width: 100%;
    border-bottom-right-radius: 150px;
}
.box2 p{
    font-size: 23px;
    color: grey;
    font-weight: 200;
}
.box2 button{
    margin-top: 50px;
    border-radius: 30px;
    font-size: 15px;
    color: rgb(205, 4, 4);
    border: solid 1px rgb(223, 8, 8);
    padding: 15px 30px 15px 30px;
}
.box2 button:hover{
    background-color: rgb(205, 4, 4);
    color: white;
}